@font-face {
    font-family: NeueMontreal-bold;
    font-weight: bold;
    src: url("./Assets/NeueMontreal-Bold.woff") format("woff");
}
@font-face {
    font-family: NeueMontreal;
    font-weight: normal;
    src: url("./Assets/NeueMontreal-Regular.woff") format("woff");
}

:root {
    --black: #32302C;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "NeueMontreal", sans-serif;
    color: var(--black);
}

h1, h2, h3, .bold {
    font-family: "NeueMontreal-bold", sans-serif;
    margin-bottom: 10px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

main {
    max-width: 712px;
    margin: 0 auto;
    padding: 20px;
}

.logo-container {
    width: 40%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
}

.content-box {
    border: 1px solid #37352f3a;
    border-radius: 4px;
    padding: 12px 20px 12px 20px;
    
}

.content-box p:last-of-type {
    margin-bottom: 0;
}

.spacer {
    height: 50px;
}

p {
    margin-bottom: 10px;
}

.highlight {
    background-color: #fbf3db;
}

a {
    color: #337EA9;
    font-family: "NeueMontreal-bold", sans-serif;
}

footer {
    color: #73726E;
}